body{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat-Regular',sans-serif;
}

#header{
    position: -webkit- sticky;
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: white;
}

#logo{
    display: flex;
    height: 120px;
    width: 120px;
    margin-left: 3vw;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar a{
    text-decoration: none;
    color: #67C7CD;
    margin-right: 2vw;
    font-size: 20px;
}

.navbar :hover{
    color:  #d0d0d0 ;
}

.reg{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 1vw;
    /* border-radius: 10px; */
}

#log{
    display: flex;
    background-color: #d0d0d0;
    border-radius: 24px;
    margin-right: 2vw;
    height: 35px;
    width: 160px;
    justify-content: center;
    align-items: center;
}

#Register{
    display: flex;
    align-items: center;
    background-color:#67C7CD ;
    border-radius: 24px;
    margin-right: 2vw;
    height: 35px;
    width: 160px;
    justify-content: center;
}

#log a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

#Register a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

#content{
    background-image: url(./Asset/screen-21.jpg);
    background-size: cover;
    width: 100vw;
    height: 1300px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#content-text p{
    text-align: center;
    color: #133e66;
    font-size: 0%;
    width: 600px;
    margin-top: 35vh;
    margin-bottom: 150px;
}

#ImageSlider{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 550px;
    background: rgb(0, 0, 0, 0.5);
    align-items: center;
}

* {
    box-sizing: border-box
}

.mySlides {
    display: none;
}

img {
    vertical-align: middle;
}

.slideshow-container {
  max-width: 600px;
  position: static;
  margin: auto;
}

#slide{
    display: flex;
    justify-content: space-between;
    margin-inline: 200px;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: white;
}

#footer{
    display: flex;
    flex-direction: column;
    background: #133e66;
    width: 100vw;
    height: 55vh;
}

#link{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#link img{
    margin-inline: 10px;
    margin-top: 25vh;
}

.footerbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
}

.footerbar a{
    text-decoration: none;
    color: white;
    margin-inline: 2vw;
    font-size: 20px;
}

#cp{
    color: white;
    text-align: center;
}

/*dropdown*/
.dropdown{
    height: 100%; 
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.dropdown-content a{
    display: block;
    text-decoration: none;
    padding : 10px 20px;
}

.dropdown-content{
    display: none; 
    background-color:  white; 
    position: absolute;
    top: 70px;
    width : 100px;
}

.dropdown-content a:hover{
    background-color: rgb(0, 0, 0, 0.5) ; 
    width: 100%;
} 

.dropdown:hover .dropdown-content{
    display: block;
} 

.drop{
    cursor: pointer;
    font-family: 'Montserrat-Regular',sans-serif;
    background: transparent; 
    border: none; 
    color: #67C7CD ;
    font-size: 20px;
}

.drop:hover,.drop:focus{
    background-color: none;
}

.show{
    display: block;
}

/* media screen Index */
@media screen and (max-width: 800px) and (min-width: 200px){    
    #logo{
        height: 60px;
        width: 60px;
        margin-left: 3vw;
    }

    #More{
        font-size: 12px;
    }
    
    .navbar a{
        margin-right: 2vw;
        font-size: 12px;
    }
    
    .navbar :hover{
        color:  #d0d0d0 ;
    }
    
    .reg{
        margin-right: 1vw;
    }

    #log{
        border-radius: 12px;
        margin-right: 2vw;
        height: 25px;
        width: 80px;
    }

    #Register{
        border-radius: 12px;
        margin-right: 2vw;
        height: 25px;
        width: 80px;
    }

    #log a{
        font-size: 12px;
    }
    
    #Register a{
        font-size: 12px;
    }
    
    #content{
        width: 100vw;
        height: 700px;
    }
    
    #content-text p{
        text-align: center;
        color: #133e66;
        font-size: 14px;
        width: 350px;
        margin-top: 20vh;
        margin-bottom: 150px;
    }
    
    #ImageSlider{
        height: 250px;
    }
    
    * {box-sizing: border-box}
    .mySlides {display: none;}
    .mySlides img {
        vertical-align: middle;
        max-height: 200px;
    }
    
    .slideshow-container {
        max-width: 350px;
    }
    
    #slide{
        margin-inline: 100px;
    }
    
    .dot{
        height: 7px;
        width: 7px;
        border-radius: 50%;
        transition: background-color 0.6s ease;
    }
    
    #footer{
        width: 100vw;
        height: 350px;
    }

    #link img{
        width: 40px;
    }
    
    
    .footerbar a{
        margin-inline: 2vw;
        font-size: 12px;
    }

    #cp p{
        font-size: 10px;
    }

    /* Dropdown media */
    .dropdown-content a{
        padding : 10px 10px;
    }

    .dropdown-content{
        width : 60px;
        top: 39px;
    }

    .drop{
        font-size: 12px;
    }
}

/* Login & Register */
.form{
    display: flex;
    width: auto;
    flex-direction: column;
    color:  white;
    font-family: 'Montserrat-Regular',sans-serif;
}

.btn-register{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#content-register{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./Asset/screen-21.jpg);
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 1500px;
    background-repeat: no-repeat;
    padding-top: 350px;
}

#box{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.5);
    width: 500px;
    height: 800px;
}

#judul{
    color:  white;
    font-size: xx-large;
    font-weight: bolder;
    padding-bottom: 30px;
    padding: 0px;
}

.form button{
    background-color:#67C7CD;
    color: white;
    border-radius: 24px;
    width: 150px;
    height: 40px;
}

.kotak{
    width: 250px;
    height: 40px;
}

#box1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.5);
    width: 500px;
    height: 560px;
}

.btn-login{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media only screen and (max-width: 800px){
    #box{
        width: 70%;
        height: 800px;
    }

    #box1{
        width: 70%;
    }
}

/* Privacy Policy */
.contentFt{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding-top: 15vh;
}

#contentPP{
    background-image: url(./Asset/screen-16.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#contentFooter{
    display: flex;
    flex-direction: column;
    width: 75vw;
    background: rgb(0, 0, 0, 0.5);
    align-items: left;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 50px;
}

/* Footer */
/* Terms Of Service */
#contentTerms{
    background-image: url(./Asset/screen-15.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* About Us */
#contentAU{
    background-image: url(./Asset/screen-17.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Contact Us */
#contentCU{
    background-image: url(./Asset/screen-18.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media only screen and (max-width: 800px){
    .contentFt{
        font-size: 14px;
    }

    .contentFt h2{
        font-size: 18px;
    }

    .contentFt h1{
        font-size: 25px;
    }
}

/* Character */
.content-character{
    background-image: url(./Asset/Character/background-character.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.char-div{
    display: flex;
    flex-direction:column;
    margin: 35vh 0;
    padding: 4vh 0;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.2);
}

#char-title {
    color: white;
    text-align: center;
    font-size: 48px;
}

.char-box{
    display: flex;
    flex-direction: row;
    color: white;
    padding: 6vh 8vw;
}

.textbox{
    background-color: #f1efe9;
    color: #c6bca6;
    width: 350px;
    height: 400px;
    padding: 45px;
    margin-top: 75px;
    text-align: justify;
}

.textbox #char-name{
    color: #dec592;
    font-size: 28px;
    text-align: center;
}

.char-img{
    padding-left: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.char-img img{
    height: 550px;
}

* {box-sizing:border-box}

.slideshow-char {
    max-width: 1000px;
    position: static;
    margin: auto;
}


.char-box {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    bottom: 30vh;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 32px;
    transition: 0.6s ease;
    border-radius:0 100px 100px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 100px 0 0 100px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media only screen and (max-width: 800px){
    .char-img img{
        height: 350px;
        margin-bottom: 20px;
    }

    .char-box{
        flex-direction: column-reverse;
    }

    .textbox{
        padding-top: 10px;
        margin-top: 0;
        width: 450px;
        height: 250px;
    }
}

/* Gallery */
.content-gallery{
    background-image: url(./Asset/Gallery/background-gallery.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25vh 5vw;
}

.gallery-box img{
    width: 400px;
    padding: 12px 12px;
    background-color: white;
    transition: 1s;
}

.gallery-box img:hover{
    width: 600px;
}

.gallery-box{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 2vw;
    grid-row-gap: 2vh;
}

.gallery-display{
    display: flex;
    width: 100vw;
    margin: 10vh 0;
    padding: 5vh 0 10vh 0 ;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.2);
}

#gallery-title{
    color: white;
    font-size: 48px;
    margin-bottom: 4vh;

}

@media only screen and (max-width: 1400px){
    .gallery-box{
        display: grid;
        grid-template-columns: auto auto;
        grid-column-gap: 2vw;
        grid-row-gap: 2vh;
    }

    .gallery-box img:hover{
        width: 420px;
    }
}

@media only screen and (max-width: 800px){
    .gallery-box{
        display: grid;
        grid-template-columns: auto;
        grid-column-gap: 2vw;
        grid-row-gap: 2vh;
    }
}

/* About Game */
#contentAG{
    background-image: url(./Asset/About\ Game/Valley004.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

#welcome{
    background-image: url(./Asset/About\ Game/screen-23.jpg);
    background-size: cover;
    width: 100vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#welcome p{
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    text-shadow: 2px 2px 4px #000000;
    font-size: 75px;
    color: #ffffff;
}

#gameSS{
    padding: 50px;
    text-align: center;
}


.slideshow-containerAG {
    max-width: 1000px;
    position: static;
    margin: auto;
}

.prevAG, .nextAG {
    cursor: pointer;
    position: absolute;
    top: 700px;
    /* width: 37%; */
    padding: 25px;
    color: white;
    font-weight: bold;
    font-size: 32px;
    border-radius: 0 100px 100px 0;
}

.prevAG{
    left: 0;
}

.nextAG {
    right: 0;
    border-radius: 100px 0 0 100px;
}

#gameFeature{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    animation: animate 1s ease-in-out;
}

@keyframes animate{
    50% {transform: 1s ease-in-out;}
}

#gf{
    display: flex;
    flex-direction: row;
    margin: 20px;
}

#text{
    background-size: 100%;
    background-repeat: no-repeat;
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 6vw;
    font-size: large;
}

#gf img{
    width: 60%;
}

#gameAv{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

#compability{
    padding: 20px;
}

#compability a{
    flex-direction: row;
    justify-content: space-between;
    margin-inline: 4vw;
}

#compability img{
    width: 70px;
}

@media only screen and (max-width: 800px){
    #welcome p{
        font-size: 30px;
        margin-top: 90px;
    }

    #welcome{
        width: 100vw;
        height: 150px;
    }

    .prevAG, .nextAG {
        padding: 10px;
    }
    
    #gf p{
        font-size: 12px;
        text-align: justify;
    }

    #gf h2{
        font-size: 18px;
    }

    #text{
        padding: 15px;
    }

    #gameFeature{
        padding-left: 20px;
        padding-right: 20px;
    }

    #compability img{
        width: 40px;
    }

    .prevAG, .nextAG {
        top: 375px;
    }
}

/* More  */
.more_title{
    margin-top: 60px;
}

/*  Latest  */
#contentLA{
    background-image: url(./Asset/About\ Game/Features002.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding-bottom: 50px;
    padding-top: 15vh;
}

#contentLA h2{
    font-size: 50px;
}


/* Info */
#contentIF{
    background-image: url(./Asset/About\ Game/Forest002.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding-top: 15vh;
    padding-bottom: 50px;
}

#contentIF h2{
    font-size: 50px;
}

/* Update */
#contentUP{
    background-image: url(./Asset/About\ Game/Forest004.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    padding-top: 15vh;
    padding-bottom: 50px;
}

#contentUP h2{
    font-size: 50px;
}

/* Event */
#contentEV{
    display: flex;
    flex-direction: column;
    background-image: url(./Asset/About\ Game/Forest009.png);
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    color: white;
    padding-top: 15vh;
    padding-bottom: 50px;
}

#contentEV h2{
    font-size: 50px;
}

#more{
    flex-direction: row;
    background: rgba(75, 64, 64, 0.5);
    width: 75%;
    margin: 25px 0 25px 0;
    padding: 50px;
}

#more p{
    margin-bottom: 15px;
}

#more img{
    width: 50%;
}

#image{
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 800px){
    #more{
        font-size: 14px;
    }

    #contentLA h2{
        font-size: 35px;
    }

    #contentIF h2{
        font-size: 35px;
    }

    #contentUP h2{
        font-size: 35px;
    }

    #contentEV h2{
        font-size: 35px;
    }

    #more h1{
        font-size: 25px;
    }
}